.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #1f1f1f;
  z-index: 1000;
}

.sidebar button,
.sidebar a,
.sidebar svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
